@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

/* colores de a cuerdo al logo */
:root{
    --firstcolor: #78CACC;
    --secondcolor: #A881A0;
    --tercercolor: #DCB879;
    --cuartocolor: #DAB472;
    --quintocolor: #97E2D2;
    --white: white;
    --black: black;
    --blacksecod: #444;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid #444;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);

}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html{
    font-size: 65.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}


html::-webkit-scrollbar-thumb{
    background: var(--blacksecod);
}

section{
    padding: 5rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0, 0, 0, .1);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--blacksecod);
    background: #fff;
    border: var(--border);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--firstcolor);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background: var(--quintocolor);
}

.header .header-1{
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 img {
    width: 150px;
    cursor: pointer;
}

.header .header-1 .search-form{
    width: 50rem;
    height: 5rem;
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.9rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--blacksecod);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--blacksecod);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color: var(--cuartocolor);
}

.header .header-1 .icons div, 
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--blacksecod);
    cursor: pointer;
}

.header .header-1 .icons div:hover, 
.header .header-1 .icons a:hover{
    color: var(--cuartocolor);
}

#search-btn{
    display: none;
}

.header-2{
    background: linear-gradient(to right, #97E2D2, #9FDCC7, #A7D6BB, #AFD0B0, #B7CAA5);
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color: #000;
    display: inline-block;
    padding: 2rem;
    font-size: 2.1rem;
}

.header .header-2 .navbar a:hover{
    color: #444444;
}



.header .header-2.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.bottom-navbar{
    text-align: center;
    background: linear-gradient(to right, #97E2D2, #9FDCC7, #A7D6BB, #AFD0B0, #B7CAA5);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}


.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,.9);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 100%;
    height: 100%;
    width: 100%;
}

.login-form-container.active{
    right: 0;
}

.login-form-container form{
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}

.login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--blacksecod);
    text-align: center;
}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box{
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--blacksecod);
    text-transform: none;
}

.login-form-container form .checkbox{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.login-form-container form .checkbox label{
    font-size: 1.5rem;
    color: var(--blacksecod);
    cursor: pointer;
}

.login-form-container form .btn{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}

.login-form-container form p{
    padding-top: .8rem;
    color: var(--blacksecod);
    font-size: 1.5rem;
}

.login-form-container form p a{
    color: var(--firstcolor);
    text-decoration: underline;
}

.login-form-container #close-login-btn{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--blacksecod);
    cursor: pointer;
}

.home{
    height: 75vh;
    padding-top: 20vh;
    background: url(../img/fondo3.svg);
    background-position: center;
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content{
    flex: 1 1 42rem;
}

.home .row .perfumes-slider{
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .perfumes-slider a img{
    height: 25rem;
}

.home .row .perfumes-slider a:hover img{
    transform: scale(.9);
}

.home .row .content h3{
    color: var(--black);
    font-size: 4.5rem;
}

.home .row .content p{
    color: var(--blacksecod);
    font-size: 1.5rem;
    line-height: 2;
    padding: 1rem 0;
}

.featured .featured-slider .box{
    width: 25rem;
    margin: 2rem;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}


.featured .featured-slider .box:hover{
    border: var(--border-hover);
}

.featured .featured-slider .box .image{
    padding: 1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.featured .featured-slider .box:hover .image{
    transform: translateY(6rem);
}

.featured .featured-slider .box .image img{
    height: 25rem;
}

.featured .featured-slider .box .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-100%);
}

.featured .featured-slider .box:hover .icons{
    transform: translateY(0%);
}

.featured .featured-slider .box .icons a{
    color: var(--blacksecod);
    font-size: 2.2rem;
    padding:1.3rem 1.5rem;
}

.featured .featured-slider .box .icons a:hover{
    color: var(--quintocolor);
}

.featured .featured-slider .box .content{
    background: #eee;
    padding: 1.5rem;
}

.featured .featured-slider .box .content h3{
    font-size: 2rem;
    color: var(--blacksecod);
}

.featured .featured-slider .box .content .price{
    font-size: 2.2rem;
    color: var(--blacksecod);
    padding-top: 1rem;
}

.swiper-button-next, .swiper-button-prev{
    border: var(--border-hover);
    height: 4rem;
    width: 4rem;
    color: var(--blacksecod);
    background: #fff;
}

.swiper-button-next::after, .swiper-button-prev::after{
    font-size: 2rem;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
    background: var(--blacksecod);
    color: #fff;
}








@media (max-width:991px){
        
    html{
        font-size: 55%;
    }

    .header .header-1{
        padding: 2rem;
    }

    section{
        padding: 3rem 2rem;
    }

}

@media (max-width:768px){
    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
        display: none;
    }

    .bottom-navbar{
        display: block;
    }

    #search-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position: absolute;
        top: -115%;
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top: 115%;
    }

    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }
}

@media (max-width:450px){
        
    html{
        font-size: 50%;
    }
}

